* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.sticky-bottom {
	align-self: center;
}

#root {
	height: 100dvh;
	padding-top: env(safe-area-inset-top);
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	/* display: flex */
	position: sticky;
	top: 0;
	height: 5vh;
	min-height: 40px;
	max-height: 54px;
	padding: 5px 10px;
	background-color: #fbec5d;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.logo {
	padding: 5px;
	max-width: 40%;
	background: none;
	border: none;
}

.logo-image {
	min-height: 30px;
	max-height: 40%;
	max-width: 30%;
}

.logo-name {
	line-height: 40%;
	margin: auto 0px;
}

.navigation > ul {
	height: 100%;
	list-style-type: none;
}

.pageLink {
	padding: 5px 10px;
	text-decoration: underline;
}

.pageLink:first-child {
	border-right: 1px solid #666;
}

.page {
	flex-grow: 2;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.banner {
	background-color: black;
	height: 100%;
	width: 100%;
	color: white;
	overflow: hidden;
}

.banner > .box,
.about > .box {
	width: 100%;
	text-align: center;
	padding: 5px;
}

.banner > .box > .placeholder-message {
	font-size: 3rem;
	font-weight: bold;
	opacity: 0.5;
}

.banner > .box > .message {
	font-size: 100px;
}

#banner-input {
	font-size: 18px;
	width: 95%;
	outline: none;
	margin: 5px auto;
	border-width: 3px;
	border-color: #fbec5d;
	border-radius: 3px;
	background-color: beige;
}

.about {
	background-color: beige;
	height: 100%;
	width: 100%;
	border-top: solid #bbb 1px;
}
